/* header-color style */
header{
    background-image: url(../images/banner/banner2.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    height: 90vh;
    display: flex;
    justify-content: end;
    align-items: center;
}
.banner{
    padding: 350px;
    text-align: right;
    width:800px;
  
}
.banner-tittel{
    font-family: "Work Sans";
    font-size: 90px;
    font-weight: 800;
    text-align: right;
    margin-bottom: 10px;
}
.banner-description{
    color: black;
    font-size: 30px;
    text-align: right;
  font-family: "Raleway", sans-serif;
  font-weight:500;
  margin-bottom:30px;
}

.pry-button{
    font-size: 28px;
    padding: 25px;
    border-radius: 15px;
    background-color: chocolate;
    color: aliceblue;
    margin-top:40px;
}
/* main  1st section related */
.container{
        padding: 130px;
        margin: 170px ;
        background-color: rgb(255, 237, 225);
        border-radius: 60px;
} 

.My-failures-section{
    display: flex;
    justify-content: space-between;
    gap: 600px;
    margin: 90px;
    border: 0px;
}
.failures-title{
    font-family:"Work Sans";
    font-size: 76px;
}
.failures-desription{
    font-size: 32px;
}
 .contrary{
    font-size: 28px;
}